.Home {
    background-image: url('../../assests/volcano.jpg');
    background-repeat: no-repeat;
    background-size: 1500px auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
   
}

.Header {
    
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    width: 25%;
    margin-right:0;
    padding-right: 0;
}

.ProPic {
    height: 200px;
    width: auto;
    margin-left: 50px;
    display: flex;
    /* padding-top: 200px; */
    margin-top:150px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .2);
    border-radius: 300px;
}



.SkillsBar {
    
    /* margin-left: 30px; */
    margin-top: 100px;
    color: white;
    
    
}

.Skills {
    list-style:none;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
}

.Skills li {
    padding: 10px;
}

.SkillsBar h1 {
    text-align:  center;
    font-family: 'Orbitron', sans-serif;
}

hr {
    /* margin-left: 50px; */
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, .2);
}

.About {
    margin-top:150px;
    text-align: center;
    width: 100%;
    
}

.About h1 {
    
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.About p{
    color: black;
    text-align: center;
}


    