* {
    margin: 0;
    padding: 0;
}

.Navbar {
    display: flex;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    justify-content: space-between;  
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
    font-size: 20px;
    align-items: center;
}

.InternalLinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
    width: 20vw
    
    
}



.ExternalLinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 8vw;
    
   
}












