* {
    margin: 0;
    padding: 0;
}

.Navbar {
    display: flex;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: space-between;  
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    font-size: 20px;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
   

}

.InternalLinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
    width: 20vw
    
    
}



.ExternalLinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 8vw;
    
   
}












