.Projects {
   background-image: url('../../assests/volcano.jpg');
   background-repeat: no-repeat;
    background-size: 1500px auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}