.Projects {
   background-image: url('../../assests/volcano.jpg');
   background-repeat: no-repeat;
    background-size: 1500px auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.ProjectContainer {
    display: flex;
    margin-top: 100px;
    margin-left:50px;
    margin-right:50px;
}

.Screenshot1 {
    width: auto;
    height: 200px;
}